######################### ElasticSearch Configuration  ########################

# This file is managed by Ansible, and it could be overwritten!
# Please see the source file for context and more information:
# https://github.com/elastic/elasticsearch/blob/master/core/config/elasticsearch.yml

# Scripting
script.groovy.sandbox.enabled: true

# To restrict outside access to your elasticsearch instance
network.host: localhost

