{
  "network": {
    "servers": [ "{{ elk_server.ip }}:5000" ],
    "ssl ca": "/etc/pki/tls/certs/logstash-forwarder.crt",
    "timeout": 15
  },

  "files": [
    {
      "paths": [
        "/var/log/openvswitch/ovs-vswitchd.log"
      ],
      "fields": { "type": "ovs-vswitchd" }
    },
    {
      "paths": [
        "/var/log/openvswitch/vm-monitor.log"
      ],
      "fields": { "type": "vm-monitor" }
    }
  ]
}
