{
  "network": {
    "servers": [ "{{ elk_server.ip }}:{{ elk_server.port }}" ],
    "ssl ca": "/etc/pki/tls/certs/logstash-forwarder.crt",
    "timeout": 15
  },

  "files": [
{% for item in logstash_forwarder_files %}
    { 
      "paths": [ "{{ item.path }}" ],
      "fields": { "type": "{{ item.type }}" }
    }{% if not loop.last %},{% endif %} 
{% endfor %}
  ]
}
